{% extends "base.twig" %}

{% block title %}Предупреждение{% endblock title %}

{% block content %}
    <div class="domacc_div_wrap">
        <div class="domacc_wrap_ins">
            <div class="domacc_div_title">
                <div class="domacc_div_title_ins">
                    Предупреждение
                </div>
            </div>
            <div class="domacc_div">
                <div class="domacc_div_ins">
                    <article id="post-12" class="post-12 page type-page status-publish hentry">
                        <div class="text">
                            <p>Уважаемые клиенты! Безопасность проведения транзакций может быть поставлена под угрозу, в связи с
                                независящими от нашего сервиса обстоятельствами. Чтобы этого не произошло, рекомендуем
                                ознакомиться со следующими правилами конвертации электронной валюты:</p>
                            <p> Всегда требуйте подтверждения личности лица, на реквизиты которого вы собираетесь выполнить
                                перевод средств. Сделать это можно посредством личного звонка на skype, icq либо посредством
                                запроса информации о статусе кошелька оппонента на сайте платежной системы;<br/>
                                Будьте предельно внимательны при заполнении поля «Номер счёта» адресата. Допустив ошибку, вы
                                отправляете собственные средства в неизвестном направлении без возможности их возврата;<br/>
                                Никогда не предоставляете займы, используя «безотзывные» электронные системы оплаты. В данном
                                случае шанс столкнуться с фактом мошенничества чрезвычайно велик;<br/>
                                Если вам предлагается сделать оплату способом, отличным от указанного в инструкции к
                                использованию нашего сервиса, откажитесь от выполнения платежа и сообщите о случившемся нашему
                                специалисту. То же касается выплат по заявкам, созданным не лично вами;<br/>
                                Откажитесь от проведения средств, собственниками которых являются третьи лица, через собственные
                                банковские счёта. Известны случаи, когда проведение таких транзакций за вознаграждение,
                                приводило к тому, что владелец счёта становился соучастником финансового преступления, не
                                подозревая о злом умысле со стороны мошенников;<br/>
                            <p> Всегда уточняйте у сотрудника обменного пункта информацию, приходящую на вашу почту.</p>
                            <p> Наш и подобные сервисы не предоставляют займов, не берут средства у пользователей в долг или под
                                проценты, не принимают пожертвований. При получении сообщений подозрительного характера от
                                нашего имени с похожих на наши либо иных реквизитов, воздержитесь от выполнения указанных там
                                требований и сообщите о произошедшем в нашу службы поддержки.</p>
                            <p>С заботой о вашем финансовом благополучии.</p>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
{% endblock %}