{% extends "../base.twig" %}

{% block title %}Партнёрская программа{% endblock title %}

{% block content %}
    <div class="domacc_div_wrap">
        <div class="domacc_wrap_ins">
            <div class="domacc_div_title">
                <div class="domacc_div_title_ins">
                    Условия участия в партнёрской программе</div>
            </div>
            <div class="domacc_div">
                <div class="domacc_div_ins">
                    <article id="post-12" class="post-12 page type-page status-publish hentry">
                        <div class="entry-content">
                            <p>Регистрируясь на сайте в качестве партнёра, вы подтверждаете свое полное согласие с настоящими правилами и обязуетесь их соблюдать.</p>
                            <br>
                            <p>1. Начисления и выплаты по партнёрской программе ведутся разных валютах. Валюта определяется при обмене.</p>
                            <br>
                            <p>2. Минимальная сумма для снятия заработанных денег с партнёрского счёта зависит от платежной системы и валюты.</p>
                            <br>
                            <p>3. За каждого привлеченного вами реферала, который воспользовался сервисом обмена электронных валют, вы получаете процент от обмена;</p>
                            <br>
                            <p>3.1. Указанные значения партнёрских вознаграждений могут быть со временем изменены. При этом все заработанные средства сохраняются на счёте с учетом действовавших ранее ставок.</p>
                            <br>
                            <p>4. Партнёрам запрещается переходить по своим собственным партнёрским ссылкам, либо использовать любые другие виды накруток переходов.</p>
                            <br>
                            <p>5. На странице, где вы публикуете о нас информацию должно быть четко указано об услугах, предоставляемых нашим сервисом. </p>
                            <br>
                            <p>6. При несоблюдении данных условий аккаунт нарушителя будет заблокирован без выплат и объяснения причин.</p>
                            <br>
                            <p>7. Партнёр несет полную ответственность за сохранность своих аутентификационных данных (логина и пароля) для доступа к аккаунту.</p>
                            <br>
                            <p>8. Данные условия могут изменяться в одностороннем порядке без оповещения участников программы, но с публикацией на этой странице.</p>
                            <br>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
    <div class="clear"></div>
{% endblock %}